# editors and IDEs
*.swp
*.*~
.idea

# (I)Python
*.pyc
/**/.ipynb_checkpoints

# C++ build
lib
/**/.build

# log and data files
*.log
*.bak
*.dat

# archives
*.tar
*.gz
*.bz2
*.zip

# Vagrant
/**/.vagrant

# data and results directories
data/*
results/*

# documentation
*.rst
!docs/README.rst
!docs/source/code.rst
!docs/source/introduction.rst
!docs/source/tutorial_jupyter.rst
!docs/source/tutorial_spark.rst
!docs/source/installation.rst
!docs/source/index.rst
!docs/source/tutorial.rst
!docs/source/spark.rst
!README.rst
!python/eskapade/README.rst
!vagrant/README.rst
docs/build/*
