amqp
anyjson
appnope
autopep8
backports.shutil-get-terminal-size
billiard
celery
CherryPy
cycler
decorator
dotenv 
Django
django-celery
django-filter
djangorestframework
enum34
funcsigs
ipython
ipython-genutils
kombu
Markdown
matplotlib
mock
names
numpy
pandas
pathlib2
pbr
pexpect
pickleshare
prompt-toolkit
ptyprocess
py4j 
Pygments
pymongo
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
simplegeneric
six
sklearn
sortedcontainers
statsmodels
traitlets
wcwidth
jaydebeapi
sphinx
tabulate
histogrammar
